$navbar-padding-y: 1rem;
$navbar-brand-font-size: 1.75rem;

// Navbar brand and logo
.navbar-brand {
  display: flex;
  align-items: center;
  height: 2.5rem;

  img {
    max-height: 100%;
    width: auto;
  }

}

// Home items spacing
.card {
  padding: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width;
}

.widget ul {
  margin-bottom: 0;
}