html {
  -webkit-font-smoothing: antialiased;
}

body {
  border-style: solid;
  border-top-width: 0;
  min-height: 100vh;
  @include breakpoint-down($md) {
    border-width: 0 !important;
  }
  display: flex;
}

.site {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.site > * {
  width: 100%;
}

// Feather Icons
svg.feather {
  width: 1.1rem;
  max-width: 100%;
  vertical-align: bottom;
}