html {
  -webkit-font-smoothing: antialiased;
}

body {
  border-style: solid;
  border-top-width: 0;
  min-height: 100vh;
  @include breakpoint-down($md) {
    border-width: 0 !important;
  }
}

// Feather Icons
svg.feather {
  width: 1.1rem;
  max-width: 100%;
  vertical-align: bottom;
}

// Links in paragraphs
.entry-content p a {
  border-bottom: 1px solid $purple;
  color: $purple;

  &:hover {
    text-decoration: none;
    filter: brightness(75%);
  }

}