// Navbar
.sticky-navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

#wrapper-navbar {
  border-top-style: solid;
  @include breakpoint-down($md) {
    border-top-width: 0 !important;
  }

}