// Navbar
.sticky-navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

.admin-bar .sticky-navbar {
  top: 32px;
}

#wrapper-navbar {
  border-top-style: solid;
  @include breakpoint-down($md) {
    border-top-width: 0 !important;
  }
}

.navbar-toggler {
  border: 0;
  font-size: 1.5rem;

  &:focus {
    outline: 0;
  }
}


.navbar {
  @include breakpoint-down($xl) {
    max-height: 100vh;
    overflow-y: auto;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  > .container, > .container-fluid {
    @include breakpoint-down($xl) {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  }

  .navbar-brand {
    @include breakpoint-down($xl) {
      max-width: calc(100% - 5rem);
    }
  }

  .dropdown-menu {
    padding: 0;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    left: 0.5rem;
    @include breakpoint-down($xl) {
      border: 0;
      margin: -0.2rem 0 0 0.5rem;
    }

    > li {
      @include breakpoint-up($xl) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }

      > a.nav-link {
          padding: 0.5rem 0.75rem;
      }
    }
  }

  .navbar-search-form {
    @include breakpoint-down($xl) {
      margin: 0.5rem 0 !important;
    }
  }

}

.navbar-collapse {
  @include breakpoint-down($xl) {
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    padding-top: 0.5rem;
    margin-top: 1rem;
  }

  .navbar-search {
    @include breakpoint-down($xl) {
      margin-left: -0.25rem !important
    } 
  }

}

