.elexis-custom-meta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  font-weight: 600;

  .elexis-custom-meta-event {
    flex-basis: 50%;
    padding: 10px;
    text-align: center;

    &:nth-child(1) {
      border-right: 1px solid rgba(0, 0, 0, 0.075);
    }
    
    svg {
      vertical-align: bottom;
      color: #1c4d93;
    }

  }

}

.card-wrapper .card .card-inner.card-horizontal {
  max-height: 18rem;
}

#wrapper-hero-content .btn-round {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.home .pagination {
  display: none;
}