.elexis-custom-meta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  font-weight: 600;

  .elexis-custom-meta-event {
    flex-basis: 50%;
    padding: 10px;
    text-align: center;

    &:nth-child(1) {
      border-right: 1px solid rgba(0, 0, 0, 0.075);
    }
    
    svg {
      vertical-align: bottom;
      color: #1c4d93;
    }

  }

}

.card-wrapper .card .card-inner.card-horizontal {
  min-height: 18rem;
}

#wrapper-hero-content .btn-round {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.home .pagination {
  display: none;
}

.archive-rss-icon {
  margin-right: 0.25rem;
  color: $gray-700;

  &:hover {
    color: $gray-900;
  }

  svg {
    width: 2rem;
    vertical-align: baseline;
    margin-left: -0.25rem;
  }
}

.card-image-overlay {
  min-height: 10rem;

  .entry-meta, .entry-cat-links, .entry-content {
    display: none;
  }

  .entry-text-content {
    position: absolute !important;
    top: calc(50% - 45px);
    left: 0;
    z-index: 2;
    text-align: center;
    width: 100%;

    .entry-title a {
      color: #1d4e94 !important;
      font-size: 1.65rem;
      
      &:hover {
        color: #1d4e94 !important;
      }
      
    }

  }

  .entry-top-thumbnail::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(224, 221, 60, 0.88);
    z-index: 1;
  }

  &:hover .entry-top-thumbnail img {
      -webkit-transform: scale(1.06);
      -moz-transform: scale(1.06);
      -o-transform: scale(1.06);
      -ms-transform: scale(1.06);
      transform: scale(1.06);
  }

  .entry-top-thumbnail img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

}

svg.feather.card-overlay-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}


